{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> Nosotros </title>
  <link rel="shortcut icon" href="{% static 'images/log6.png' %}">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'css/heroic-features.css' %}">
  <link rel="stylesheet" href="{% static 'css/fondo.css' %}">

  <style>
  * {box-sizing: border-box;}

  img {vertical-align: middle;}

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1.8s ease;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.8s;
    animation-name: fade;
    animation-duration: 2.8s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  </style>

</head>

<body>

  <div class="slideshow-container">

  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img src="{% static 'images/frenteau.jpeg' %}" style="width:100%">

  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img src="{% static 'images/atrasau.jpeg' %}" style="width:100%">

  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img src="{% static 'images/dentroau.jpeg' %}" style="width:100%">

  </div>

  </div>
  <br>

  <div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'catalogo' %}"> <img src="{% static 'images/log6.png' %}" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'about' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'catalogo' %}">Catálogo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Iniciar sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
<br>
    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card" style="width: 100%">
          <div class="card-body">
            <h5 class="card-title">¿Quienes somos?</h5>
            <p class="card-text text-center">Somos una empresa especializada en mantenimiento preventivo y correctivo del <strong> sistema de frenos</strong>,
            contamos personal calificado y equipos con tecnología de punta.<br>
            Somos parte de la red <strong> MEF(MODULO ESPECIALISTA EN FRENO BOSCH) </strong>.<br>
            Venta e Instalación</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card" style="width: 100%">
          <div class="card-body">
            <h5 class="card-title">Contactos</h5>
            <p class="card-text text-center"><strong>Telf:</strong> <br>(03)294-6215 <br>
              <strong>Email:</strong> <br> autofrenoriobamba@hotmail.com <br>
              <strong>Dirección:</strong> <br> Argentinos 33-14 y Riobamba 060150</p>
          </div>
          <br>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card" style=" 100%">
          <iframe class="card-img-top" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15952.527145119491!2d-78.6530367!3d-1.6659959!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x530a72028fe83ccf!2sAUTOFRENO%20RIOBAMBA!5e0!3m2!1ses!2sec!4v1621532697865!5m2!1ses!2sec" width="420" height="240" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; AutofrenoRio 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>

</html>
